@model it_aud6_mvc.Models.MovieRentals
@{
    ViewBag.Title = "Random";
}

<h2>@Model.movie.Name</h2>
<h3>Rating: @Model.movie.Rating</h3>
<img src="@Model.movie.ImageUrl"/>
@{ 
    int i = 0;
    <ul>
        @foreach(var client in Model.clients)
        {
        <li>
            <a href="ShowClient?id=@i">@client.Name, @client.Legitimation</a> 
            @{
                //koga kje imame baza nema potreba od /@i
             }
        </li>
        i++;
        }
    </ul>
    
}